table form {
    display: inline;
}

table {
    border-collapse: collapse;
    border: solid black 2px;
    margin: 1em 0;
}

table th {
    border: solid black 2px;
    background: #ff7;
    padding: 0 0.5ex;
}

table td {
    padding: 0 0.5ex;
    border: solid black 1px;
}

nav#footer {
    position: fixed;
    font-size: small;
    font-style: italic;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.1);
    border-bottom-left-radius: 1ex;
    border: black 1px;
    border-style: none none solid solid;
    padding: 0.5ex 1em;
}