<!DOCTYPE html>
<html lang="en">
<head>
    <title>Serum level calculator</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <meta charset="utf-8">
</head>
<body>

    <h1>Serum level calculator</h1>

    <form method="get">
        {% for label,item,step in [
            ('Starting serum level', 'start_level', 1),
            ('Dose amount', 'dose', 1),
            ('Dose frequency (hours)', 'frequency', 1),
            ('Serum half-life (hours)', 'half_life', 1),
            ]
        %}

        <div class="field">
            <label for="{{item}}">{{label}}:</label>
            <input id="{{item}}" type="number" name="{{item}}" value="{{args[item]|round|int}}" step="{{step}}" min="0">
        </div>
        {% endfor %}

        <input type="submit" value="go">
    </form>

    {% if rows %}
    <table>
        <tr>
            <th>Day</th><th>Dose</th><th>Before</th><th>After<th>Actions</th>
        </tr>
        {% for day,dose,attenuated,level in rows %}
        <tr>
            <td>{{day}}</td>
            <td>{{dose}}</td>
            <td>{{attenuated|round(2)}}</td>
            <td>{{level|round(1)}}</td>
            <td>
                <form method="get">
                    <input type="hidden" name="start_level" value="{{level}}">
                    <input type="hidden" name="dose" value="0">
                    <input type="hidden" name="frequency" value="24">
                    <input type="hidden" name="half_life" value="{{args['half_life']}}">
                    <input type="submit" value="Discontinue">
                </form>
                <form method="get">
                    <input type="hidden" name="start_level" value="{{level}}">
                    <input type="hidden" name="dose" value="{{args['dose']}}">
                    <input type="hidden" name="frequency" value="{{args['frequency']}}">
                    <input type="hidden" name="half_life" value="{{args['half_life']}}">
                    <input type="submit" value="Change dose">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

<nav id="footer">
<a href="https://github.com/fluffy-critter/serum-level">github</a>
<a href="https://beesbuzz.biz/">busybee</a>
</nav>

</body>
